.jumbotron.v-center
	%h1.h1-principal.text-center Bienvenido a LiBook
	%br
	%img.center-block{:id => "logo", :src => "/img/logo.png", :alt => "Logo de LiBook"}
	%br
	%h2.text-center Si estás cansado de no encontrar un libro en tu inmensa biblioteca, no esperes mas y únete al gestor de libros Libook.
	%h2.text-center Úsalo con tus redes sociales Google+, Facebook y Twitter.
