%h1.h1-principal.v-center.text-center Bienvenido a LiBook
%p
	%h2.h2-principal.text-center Si estás cansado de no encontrar un libro en tu inmensa biblioteca, no esperes mas y únete al gestor de libros Libook.
	%h2.h2-principal.text-center Úsalo con tus redes sociales Facebook y Twitter
