.row
	.text-center.v-center
		%h1 Titulo del Libro (Año)

	.col-xs-4
		%a{:href => "/escanear"}
			%img.img-thumbnail{:alt => "Imagenes Escaner Codigo", :src => "img/escanear-codigo.jpg"}/

	.col-xs-8
		%h3 Titulo:
		%h3 Autor:
		%h3 Editorial:
		%h3 Año:
		%h3 Categoria:
		%h3 Idioma:
		%h3 ISBN:
.row
	.col-xs-12
		%h1 Sinopsis: